body {
    font-family: 'Poppins', sans-serif;
    margin: -10px 20px 0;
}

h1 {
    margin: 0 0 20px;
    font-size: 79px;
    font-weight: bold;
    color: #0a2ff1;
}

span {
    background-color: #3ffff3;
}

h3 {
    margin: 0;
    font-size: 31px;
    font-weight: 500;
    color: #0a2ff1;
}

img {
    width: 420px;
    background-color: #8a9af1;
    background-image: linear-gradient(white, white);
    background-size: 100% 80%;
    background-repeat: no-repeat;
}