* {
  font-family: "Mulish", sans-serif;
}
body {
  background-image: url("../Recursos/Ejercicio 1/M4-desafio1-fondo.png");
}
form {
  width: 600px;
  height: 400px;
  background-color: white;
  text-align: center;
  padding: 20px;
}

.container {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: url("../Recursos/Ejercicio 1/M4-desafio1-fondo-form.png");
  background-repeat: no-repeat;
  min-width: 700px;
}

input,
button {
  width: 500px;
  height: 50px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

h1 {
  font-weight: 700;
  font-size: 32.64px;
  color: #04146c;
}

input {
  font-weight: 400;
  font-size: 22.67px;
  color: #414166;
  padding-left: 10px;
  border-width: 2px;
}

button {
  font-weight: 600;
  font-size: 22.67px;
  background-color: #15163d;
  color: white;
}
