* {
  font-family: "Roboto", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* nav */

#logo-azul {
  width: 5%;
  float: left;
}
nav {
  padding-top: 30px;
  padding-left: 50px;
  border-top: 30px solid #0a2ff1;
  overflow: hidden;
}
a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #04146c;
  font-size: 24px;
  margin-left: 4vw;
  float: left;
  margin-top: 8px;
}
.activo {
  font-weight: bold;
}

/* footer */

footer {
  background-color: #3957f1;
  background-image: linear-gradient(white, white);
  background-size: 100% 0%;
  background-repeat: no-repeat;
  width: 100%;
}
#logo-blanco {
  width: 150px;
  margin-left: 6vw;
  margin-bottom: 22px;
  margin-top: 22px;
}

/* index.html */
/* main top */

.titulo {
  text-align: center;
}
.top-titulo {
  font-family: "Roboto Slab", serif;
  font-size: 96px;
  color: #0a2ff1;
  margin-bottom: 10px;
}
.bottom-titulo {
  font-weight: 400;
  font-size: 34.67px;
  color: #04146c;
  margin-top: 0;
  margin-bottom: 40px;
}
#img-top {
  width: 100%;
}

/* main bottom */

.main-bottom {
  display: flex;
  margin-top: 40px;
  margin-bottom: -70px;
  margin-left: 6vw;
}
h2 {
  font-family: "Roboto Slab", serif;
  font-size: 45.33px;
  color: #0a2ff1;
}
.main-text {
  font-size: 24px;
  color: #04146c;
  max-width: 680px;
  min-width: 450px;
  margin-bottom: 120px;
}
#img-bottom {
  align-self: flex-end;
  height: 45vw;
}

/* Contacto.html  */

.main-contacto {
  margin-left: 50px;
}
.p-head {
  font-family: "Roboto Slab", serif;
  font-size: 45.33px;
  color: #2c00cc;
  margin-bottom: 0;
}
.p-foot {
  font-size: 30.67px;
  color: #04146c;
  margin-bottom: 50px;
}
.input-info {
  font-weight: bold;
  font-size: 30.67px;
  color: #04146c;
  margin: 0;
}
span {
  color: red;
}
input {
  width: 500px;
  height: 50px;
  margin-bottom: 30px;
}
textarea {
  width: 500px;
  height: 100px;
  margin-bottom: 30px;
}
.reset,
.send {
  font-family: "Roboto Slab", serif;
  font-size: 32px;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 30px;
  margin-bottom: 50px;
}
.reset {
  background-color: #f98500;
  margin-right: 50px;
}
.send {
  background-color: #2c00cc;
}
